<section class="container mt-5 row">
    <h2 class="mb-4 header-container">{{ 'game.title_game' | translate }}</h2>
    
    <article *ngFor="let book of books" class="col-4">
        <ng-container *ngIf="(library$ | async)?.includes(book); else empty">
            <img src="../../../assets/icons8-partiture-64.png" alt="lectern filled">
        </ng-container>
        <ng-template #empty>
            <img src="../../../assets/icons8-lectern-empty-64.png" alt="lectern empty">
        </ng-template>
    </article>

    <article 
        *ngIf="(library$ | async)?.length === 9" 
        class="py-4 d-flex justify-content-center align-items-center">
        <button 
            class="btn btn-success" 
            [ngClass]="{ 'hide': ended, 'show': !ended }" 
            (click)="ganaste()">
            {{ 'game.play_btn' | translate }}
        </button>
    </article>

    <article [ngClass]="{ 'hide': !ended, 'show': ended }">
        <img src="/assets/White_Chicken-removebg-preview.png" class="chicken my-2" alt="stardew valley chicken">
        <img src="/assets/Brown_Cow-removebg-preview.png" class="cow" alt="stardew valley cow">
        <img src="/assets/White_Chicken-removebg-preview.png" class="chicken" alt="stardew valley chicken">
        <img src="/assets/Sheep-removebg-preview.png" class="sheep" alt="stardew valley sheep">
        <img src="/assets/Brown_Chicken-removebg-preview.png" class="chicken" alt="stardew valley chicken">
        <img src="/assets/Brown_Cow-removebg-preview.png" class="cow" alt="stardew valley cow">
        <p>{{ 'game.recommended_game' | translate }}</p>
    </article>
</section>