.row {
    display: flex;
    text-align-last: center;
}

.col-4 {
    align-items: center;
}

.container {
    margin-left: 5vw;
    margin-bottom: 2vh;
}

@media (max-width: 968px) {
    .container {
        margin-left: 0;
    }
}

#youtube-player {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.chicken{
    width: 28px;
    height: 26px;
    margin: 3px;
}

.cow{
    width: 52px;
    height: 36px;
}

.sheep{
    width: 54px;
    height: 40px;
}

.hide{
    display: none;
}

.show{
    display: block;
}
