<section id="content">
  <article class="row">
    <section class="col-12 d-flex align-items-start d-flex align-items-start w-100">
      <div>
        <article class="mb-3 d-flex">
          <div class="form-check form-switch me-3">
            <img [src]="urlTheme" alt="{{ 'profile.alt_theme_icon' | translate }}" class="switchIcon">
            <input placeholder="Cambiar el tema" class="form-check-input" type="checkbox" (change)="switchTheme()">
          </div>
          <div class="form-check form-switch">
            <img [src]="urlLang" alt="{{ 'profile.alt_language_icon' | translate }}" class="switchIcon">
            <input placeholder="Cambiar el lenguaje" class="form-check-input" type="checkbox" (change)="switchLang()">
          </div>
          <img 
            src="../../../assets/icons8-book-96.png" 
            alt="{{ 'profile.alt_book_icon' | translate }}"
            class="s-book"
            (click)="getBook('3')"  
            *ngIf="theme && third">
          <img 
            src="../../../assets/icons8-book-96.png" 
            alt="{{ 'profile.alt_book_icon' | translate }}"
            class="s-book"
            (click)="getBook('6')"
            *ngIf="theme && lang && six"
          >
        </article>

        <h1>{{ 'profile.header' | translate }}</h1>
        <h5>{{ 'profile.subheader' | translate }}</h5>
      </div>
      <img src="../../assets/FotoPerfil.jpeg" alt="{{ 'profile.alt_profile_image' | translate }}" class="img-fluid me-3" style="max-width: 150px; height: auto; border-radius: 90px;">
    </section>

    <img 
      src="../../../assets/icons8-book-96.png" 
      alt="{{ 'profile.alt_book_icon' | translate }}"
      class="s-book"
      (click)="getBook('8')"
      *ngIf="clicked && height"
    >
    <a [href]=icon.url target="_blank" *ngFor="let icon of icons" class="icon-wrapper" (click)="clickIcon()">
      <img 
      [src]="icon.src" 
      [alt]="icon.alt" 
      [title]="icon.title" 
      class="icon" 

      >
      <span class="icon-title">{{ icon.title }}</span>
    </a>
  </article>
</section>

<div *ngIf="first">
  <img 
    src="../../../assets/icons8-book-96.png" 
    alt="{{ 'profile.alt_book_icon' | translate }}"
    class="icon"
    id="book"
    (click)="getBook('1')"
  >  
</div>
